
{% extends '::base.html.twig' %}

{% block body -%}



<ul>
	<li><a href="{{ path('libro') }}">Administración Libros</a></li>
	<li><a href="{{ path('verso') }}">Administración Versos</a></li>
</ul>

{% endblock %}
